* {
  padding: 0px;
  margin: 0px;
}


#h1{
  color: black;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#span1 {
  color: black;
  float: right;
  padding-top: 40px;
  padding-bottom: 20px;
}

#textdiv1{
  height: 100px;
}
.imgdiv {
  padding-top: 40px;
  float: left;
}

#produtoimg {
  width: 400px;
}

.samsungdiv{
  float: left;
  padding-top: 40px;
  padding-left: 20px;
}

#samsungh1{
  color: black;
  font-size: 25px;
}

#samsungh2{
  color: black;
  font-size: 25px;
  padding-top: 20px;
  padding-right: 20px;
  clear: both;
  float: left;
}

.stars{
  color: gold;
  padding-top: 35px;
}

#commentspan{
  padding-left: 15px;
  font-size: 12px;
}

.addcart{
  background-color: #428bca;
  border-style: none;
  padding: 10px 15px;
}

#addcartdiv{
  clear: both;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

#loremipsumdiv{
  float: right;
  width: 650px;
  border-top: 1px solid black;
  padding-bottom: 100px;
}

.loremipsum{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}

/* Esta secção é pertencente à pagina mobile */

#marca{
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  color: black;
}

#categoria{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  color: black;
}

#ecra{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  color: black;
}

#filtrar{
  clear: both;
  float: right;
  padding-top: 20px;
}

.filtrarbutton{
  background-color: #428bca;
  border-style: none;
  padding: 10px 15px;
  margin-right: 20px;
}

#itemsdiv{
  float: left;
  border-left: 1px solid black;
  margin-top: 35px;
}

#filtrardiv{
  float: left;
}

#mobile{
  color: black;
  padding-left: 20px;
  float: left;
  display: inline;
  padding-right: 480px;
  padding-top: 5px;
}

#promocoesdiv{
  display: inline;
  float: right;
  padding-top: 10px;
}

#promocoesdiv2{
  float: right;
}

.ordenarpor{
  padding-top: 5px;
  padding-right: 5px;
}

.promocoesdropdown{
  padding: 3px;
  width: 150px;
}

.mobileproducts{
  float: left;
  padding-right: 10px;
  width: 200px;
}

.infospans{
  float: left;
}

#phonesdiv{
  padding-top: 40px;
}

.mobileinfo{
  font-size: 15px;
  font-family: Verdana;
  padding-right: 25px;
  float: left;
  padding-left: 25px;
  padding-top: 10px;
}

.mobilespan{
  float: left;
  color: black;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 120px;
}

#mobilespan1{
  clear: both;
  color: black;
}

#mobilespan2{
  color: black;
}

#mobilespan3{
  color: black;
}

#mobilespan4{
  color: black;
}

.mobileinfodiv{
  padding-top: 10px;
}

#motoroladiv{
  clear: both;
  float: left;

}

#motorolaspan{
  clear: both;
  float: left;
}

.motorolatext{
  padding-left: 25px;
  padding-top: 10px;
}

#motorolaprice{
  clear: both;
  float: left;
  color: black;
  padding-left: 25px;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 70px;
}


/* Esta secção é pertencente à pagina contactos */


.formtext{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
}

.formname{
  float: left;

  padding-left: 100px;
}

.formcontent{
  float: right;

  width: 500px;
}

.nomename{
  float: left;
  padding-top: 40px;
}

.nomecontent{
  float: right;
  margin-top: 35px;
  padding: 5px;
  width: 850px;
}

.emailname{
  clear: both;
  float: left;
  padding-top: 40px;
}

.emailcontent{
  float: right;
  margin-top: 35px;
  padding: 5px;
  width: 850px;
}

.dataname{
  clear: both;
  float: left;
  padding-top: 40px;
}

.datacontent{
  float: right;
  margin-top: 35px;
  padding: 5px;
  width: 850px;
}

#fullformdiv{
  height: 720px;
}

#moradaform{
  clear: both;
  padding-top: 40px;
}

#fieldset{
  padding-left: 10px;
  height: 200px;
}

.morada{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
}

.rua1{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  padding-top: 20px;
  float: left;
}

.rua2{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  float: right;
  padding: 5px;
  margin-top: 15px;
  width: 850px;
  margin-right: 20px;
}

.numero1{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  clear: both;
  float: left;
  padding-top: 20px;
}

.numero2{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  float: right;
  padding: 5px;
  margin-top: 15px;
  margin-right: 20px;
  width: 850px;
}

.distrito{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  clear: both;
  float: left;
  padding-top: 20px;
}

.distrito2{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
  float: right;
  padding: 5px;
  margin-top: 15px;
  width: 850px;
  margin-right: 35px;
}

#mensagemform{
  padding-top: 40px;
}

.mensagemname{
  float: left;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-weight: 100;
}

.textarea1{
  float: right;
}

.enviar{
  font-family: 'open sans', sans-serif;
  float: right;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: white;
  background: #428bca;
  width: 90px;
  display: inline;
  text-decoration: none;
  line-height: 5px;
  clear: both;
  margin-top: 20px;
}

/* extras */

.paginainicial{
  background-color: #428bca;
}


.contactospage{
  background-color: #428bca;
}

.fundo{height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(hero_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card{
  width:300px;
  height: 530px;
  border-radius:15px;
  margin-top:240px;
  background-color: #202020 ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  
}
.cartao{
display: flex;
justify-content: center;
}

.bola1{
  width:150px;
  height:150px;
  border-radius:15%;
  margin-top:20px;
  margin-left: 25%;
}
.texto-principal{
  text-align: center;
  color: white;
  font-weight:600;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-justify: center;
  text-align: center;
}

.desk{
  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight:300;
  text-align: center;
  font-size: 15px;

}
.btn{
  padding: 10px 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-weight:500px ;
  border-radius:10px;
  border:none;
  transition:1s;
  background-color:#6A473D ;
  color:white;
  cursor: pointer;
}
  .btn:hover{
transition:1s;
background-color:#4d352e ;
  color:white;
}

.button{
  display: flex;
  justify-content: center;
  margin-top:30px;
}
.card2{
  width:300px;
  height: 530px;
  border-radius:15px;
  margin-top:240px;
  background-color: #202020 ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
 margin-left: 700px;
}
.card3{
  width:300px;
  height: 530px;
  border-radius:15px;
  margin-top:-530px;
  background-color: #202020 ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
 margin-left: 200px;
}
.vermelho {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

  iframe {
    width:100%Z;
    height:450px;
  }
  .mapa{
    clear:both;
  }